# IDE files
.idea/
.vscode/

# Database files
*.db
*.sqlite
*.sqlite3

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary files
*.tmp
*.temp 
node_modules/

# Embedded git repositories
F1-Historic-Race-NodeJS/
